$primary-color: #3C639A;
$secondary-color: #2C4770;
$third-color: #f9fbfd;
$border-color: #cfd1d5;

$row-width: 100%;
$link-color: #136BE8;

/**
*
* Foundation Variables
*
**/

$rem-base: 18px;
$paragraph-font-size: 1.1rem;
$list-font-size: 1.1em;

$topbar-bg-color: $primary-color;
$topbar-bg: $primary-color;
$topbar-dropdown-link-bg: $primary-color;
$topbar-link-bg-hover: $secondary-color;

$input-font-size: 1rem;